.grid {
  color: white;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: teal;
}

.item:nth-child(even) {
  background-color: tomato;
}
